@import "../../../variable.scss";

.sectionD-module {
    padding-bottom: 25px;
    h1, h2, p {
        margin-bottom: 0;
    }

    h1.title {
        color: $primary-color;
        background-color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        position: sticky;
        top: 65px;
        z-index: 19;
    }
    
    .PLO-block {
        h2 {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: white;
            position: sticky;
            top: 94px;
            z-index: 18;
        }

        .table {
            .row {
                border-bottom: 1.5px $button-color solid;
                display: grid;
                grid-template-columns: 12% 63% 20% 5%;
    
                .block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                p {
                    width: 100%;
                    margin: 0;
                    font-weight: 700;
                }
    
                label {
                    width: 100%;
                    font-size: 13px;
                }
    
                textarea {
                    width: 100%;
                    min-height: 50px;
                    border: none;
                    background-color: #F4F4F4;
                    padding: 10px 15px;
                    resize: vertical;
                    display: block;
                    height: auto;
                    text-align: justify;
                    line-height: 1.3;

                    font-size: 13px;
                }
            }
    
            button {
                min-height: 30px;
                height: 75%;
                width: 30px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                color: white;
            }
    
            .head button {
                background-color: $primary-color;
            }
    
            .body button {
                background-color: $highlight-color;
            }
        }
    }
}