@import "../../../variable.scss";

.sectionG-main {
    table {
        width: 100%;

        th, td {
            font-size: 12px;
            line-height: 16px;
            text-align: justify;
        }


        th {
            text-align: center;
            color: white;
            background-color: $primary-color;
            padding: 5px;
            border: 1.5px solid white;
        }

        td {
            padding: 8px;
            border: 1.5px solid $primary-color;

            &.input {
                position: relative;
                
                input[type=checkbox] {
                    height: 18px;
                    width: 18px;
                }
            }

            &.center {
                text-align: center;
            }

            &.index-edit div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: translateY(-5px);

                button {
                    width: 20px;
                    height: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                }

                i {
                    height: 100%;
                    width: 100%;
                    font-size: 18px;
                    color: #043C6C;
                }
            }
        }

        tr {
            &.block {
                &-title {
                    background: $base-color;
                    font-weight: 700;
                    color: $primary-color;
                }
                &-subtitle {
                    font-weight: 700;
                    color: $primary-color;
                }
            }

            &.add-btn {
                button {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    font-weight: 600;
                    color: #043C6C;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }   
}

.sectionG-data-box {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 21;

    display: flex;
    align-items: center;
    justify-content: center;

    
    .data-block {
        width: 1000px;
        // height: 500px;
        background-color: white;
        border-radius: 30px;
        padding: 30px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            color: $primary-color;
            font-size: 24px;
            cursor: pointer;
            top: 15px;
            right: 20px;

            &:hover {
                color: $highlight-color;
            }
        }

        h3 {
            text-align: center;
            color: $primary-color;
            font-weight: 700;
            font-size: 28px;
            padding-bottom: 5px;

            border-bottom: 1px $primary-color solid;
        }

        .form {
            width: 100%;
            // padding-top: 20px;
        }

        .input {
            &-row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 15px;

                .save-btn {
                    width: 350px;
                    height: 35px;
                    border: solid 1.5px $primary-color;
                    border-radius: 15px;

                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }

            &-flex-start {
                align-items: flex-start;
            }

            &-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                min-height: 40px;
                // min-width: 30%;
                position: relative;

                label, input {
                    font-size: 13px;
                    color: $primary-color;
                }

                label {
                    padding-right: 7px;
                    font-weight: 700;
                }

                input[type='text'] {
                    width: 75%;
                    height: 30px;
                    border: 1.5px solid $primary-color;
                    padding: 5px;
                    font-weight: 500;
                }

                input[type='checkbox'] {
                    position: relative;
                    // right: 0;
                    top: 50%;
                    left: 0;
                    transform: translateY(-2%);

                    height: 25px;
                    width: 25px;
                }
            }
        }

        .course-list {
            width: 30%;

            h4 {
                text-align: center;
                font-size: 16px;
                color: $primary-color;
                font-weight: 700;
            }

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                width: 100%;
                text-align: center;
                font-size: 14px;
                height: 25px;
                font-weight: 400;
                line-height: 25px;
            }

            button {

            }
        }
    }
}