@import "../../variable.scss";

.editor-section {
    min-height: 60vh;
    padding-bottom: 75px;

    .title {
        padding-bottom: 5px;
        h1 {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color;
            text-transform: uppercase;
            line-height: 30px;
            border-bottom: 1px $button-color solid;
        }

        p {
            font-size: 14px;
            padding-top: 5px;
            color: $highlight-color;
            font-weight: 600;
        }
    }
}