@import "../../../variable.scss";

.editor-save-btn {
    width: 65px;
    height: 65px;
    background-color: $primary-color;

    position: fixed;
    bottom: 50px;
    right: 5%;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    opacity: 0.5;

    svg {
        color: white;
        font-size: 30px;
    }

    &:hover {
        opacity: 1;
    }
}

#sectionE {

    .matrix-wrap {
        width: 100%;
        overflow-x: auto;
        table-layout: auto;

        &::-webkit-scrollbar {
            width: 8px; /* Width of the vertical scrollbar */
            height: 8px; /* Height of the horizontal scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light grey track */
            border-radius: 4px; /* Optional: roundness of the track */
        }

        &::-webkit-scrollbar-thumb {
            background: #ccc; /* Dark grey thumb */
            border-radius: 4px; /* Optional: roundness of the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #888; /* Darker grey on hover */
        }
    }

    .matrix {
        border-collapse: collapse;

        thead {
            position: relative;
            z-index: 20;
        }

        tbody {
            position: relative;
            z-index: 15;
        }

        th, td {
            font-size: 13px;
            line-height: 16px;
            text-align: justify;
        }

        th {
            text-align: center;
            color: white;
            background-color: $primary-color;
            padding: 5px;
            border: 1.5px solid white;
            position: sticky;
            z-index: 15;
            font-weight: 900;

            &.number {
                position: sticky;
                left: 0;
                z-index: 20;
            }

            &.name {
                position: sticky;
                left: 100px;
                z-index: 20;
            }
        }

        td {
            padding: 8px;
            border: 1.5px solid $primary-color;
            z-index: 8;
            background-color: white;

            &.input {
                position: relative;
                
                input[type=checkbox] {
                    height: 22px;
                    width: 22px;
                }
            }

            &.number {
                position: sticky;
                left: 0;
                z-index: 10;
            }

            &.name {
                position: sticky;
                left: 100px;
                z-index: 9;
            }
        }

        tr {
            &.block {
                &-title td {
                    background: $primary-color;
                    font-weight: 700;
                    color: white;
                }

                &-subtitle td {
                    font-weight: 700;
                    color: $primary-color;
                }
            }
        }
    }
}